.center {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
}

.signUp {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin: auto;
  grid-column: 3;
}

.login {
  display: inline-grid;
  margin: auto;
  grid-column: 3;
}

p {
  grid-column: 3;
  text-align: center;
}

.button {
  height:20px; 
  width:178px; 
  margin: auto;
  grid-column: 3;
}

#signUpSubmit {
  margin: auto; 
}