.center {
  margin: auto;
  width: 50%;
}

h1 {
  margin: auto;
  width: 20%;
}

.signUp {
  margin: auto;
  width: 20%;
}

.login {
  margin: auto;
  width: 20%;
}

p {
  text-align: center;
}

button{
  height:20px; 
  width:178px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:43.9%;
}